.container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.container h1{
    text-align: center;
}
.formulir-content{
    padding: 5%;
    justify-content: center;
    background-color: rgb(255, 255, 255);  
    border-radius: 31px;
    box-shadow: 10px 11px 30px 3px rgba(0, 0, 0, 0.1);
}

.button-login{
    text-align: center;

}
input[type=submit] {
    text-align: center;
    padding: 15px;
    width: 180px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
    color: #fff;   
    background: #57D885;
    border-radius: 35px;

}
input[type=submit]:hover{
    padding: 15px;
    width: 180px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
    color: #fff;   
    background: #49AC8D;
    border-radius: 35px;
}